body{
    margin: 0;
    font-family: 'Roboto Slab', serif;
}
.bg-image{
    background-image: url("donate-today-main/images/donation13.jpg");
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2px);
}
.bg-text{
    
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 10px;
    line-height: 0.6;
    position: absolute;
    text-align: center;
    color: white;
    
}
#bg{
    line-height: 1.2;
    font-size: 18px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(skyblue, blue);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
}
.button1{
    text-decoration: none;
    background-image: linear-gradient(skyblue, blue);
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
}
h1{
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-size: 30px;
}
.aaa{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}
.ccc{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}
.amount{
    display: flex;
    text-align: center;
    padding-left: 410px;
    padding-right: 410px;
}
.plan{
    display: flex;
    padding-left: 140px;
}
.tk{
    padding: 25px;
    
}
.p{
    height: 250px;
    width: 280px;
    padding: 40px 10px 20px 10px;
    margin: 20px;
}
#p1{
    background-color: rgb(202, 226, 241);
}
#p2{
    background-color: rgb(162, 207, 236);
}
#p3{
    background-color: rgb(119, 170, 199);
}
#ref{
    border: 2px solid blue;
    color: blue;
    background-color: rgb(194, 228, 241);
}
.input{
    padding-top: 20px;
}
input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: blue;
    width: 600px;
    
  }
  ::-webkit-input-placeholder {
    text-align: center;
  }
  .text-center {
    text-align: center;
  }
  .flex{
    display: flex;
  }
  .fff1{
    padding-left: 150px;
    padding-right:100px;
  }
  .fff2{
    padding-left: 30px;
    padding-right:150px;
  }
  .pic{
    border-radius: 10px;
  }
  
  .dd{
    width: 900px;
    height: 180px;
    margin: 60px 180px 30px 240px;
    background-color: rgb(192, 211, 233);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .form-box{
    padding: 0px;
    border-radius: 5px;
    background: #c0baba ;
  }
  .form-box input{
    font-size: 18px;
    color: black;
    padding: 15px 10px;
    border: none;
    outline: none;
    background: #c0baba;
  }
  .form-box button{
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background: #4769d8;
  }
  .footer{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #foot{
    color: rgb(236, 32, 83);
    
  }
  #reg{
    background-image: linear-gradient(rgb(44, 248, 248), rgb(2, 2, 151));
    background-size: cover;
    text-align: left;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 60px;
    margin: 0;
    align-items: center;
    border: 0;
  }